---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import SobreMi from '../components/SobreMi.astro';
import Projects from '../components/Projects.astro';
import Experience from '../components/Experience.astro';
import Technologies from '../components/Technologies.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Portfolio Yanina Unrein - Desarrolladora y Programadora Web"
description="Desarrolladora Web especializada en el Frontend">
	<main>
		<Hero />
		<SobreMi />
		<Experience />
		<Projects />
		<Technologies />
		<Contact />
	</main>
</Layout>

<style>

</style>
