---
import SobreMi from '../components/SobreMi.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio de Yanina Unrein - Desarrolladora y Programadora Web"
description="Desarrolladora Web especializada en el Frontend">
	<main>
		<SobreMi />
	</main>
</Layout>

<style>
	
</style>
