---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Projects from '@/components/sections/Projects.astro';
import Experience from '@/components/sections/Experience.astro';
import Technologies from '@/components/sections/Technologies.astro';
import Contact from '@/components/sections/Contact.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import ChatWidget from '@/components/ChatWidget.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('seo.title')} description={t('seo.metadescription')}>
	<main>
		<Hero />
		<Experience />
		<Projects />
		<Technologies />
		<About />
		<Contact />
		<ChatWidget />
	</main>
</Layout>