---
import Section from "@/components/Section.astro"
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Download from "@/components/buttons/Download.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<Section>
     <section id="about" class="about-section">
          <h2 data-i18n="aboutMe.title">{t('aboutMe.title')}</h2>
          <div class="about-container">    
               <div class="img-container">             
                    <div class="card-flip">
                         <div class="card-inner">
                              <div class="border-wrapper"></div>
                              <div class="card-front">
                                   <img src="/img/aboutMe.webp" loading="lazy" alt="Yanina Unrein">
                              </div>
                              <div class="card-back">
                                   <img src="/img/aboutMe-animated.webp" loading="lazy" alt="Yanina Unrein">
                              </div>
                         </div>
                    </div>
               </div>
               <div class="text-container">
                    <h3 data-i18n="aboutMe.subTitle">{t('aboutMe.subTitle')}</h3>
                    <p data-i18n="aboutMe.description_1">{t('aboutMe.description_1')}</p>
                    <p data-i18n="aboutMe.description_2">{t('aboutMe.description_2')} 
                         <span data-i18n="aboutMe.description_3">{t('aboutMe.description_3')}</span> 
                         <span class="tecnica" data-i18n="aboutMe.description_4">{t('aboutMe.description_4')}</span> 
                         <span data-i18n="aboutMe.description_5">{t('aboutMe.description_5')}</span>
                         <span class="tecnica" data-i18n="aboutMe.description_6">{t('aboutMe.description_6')}</span> 
                         <span data-i18n="aboutMe.description_7">{t('aboutMe.description_7')}</span>
                    </p>
               </div>     
          </div> 
          <div class="cv-container">
               <p data-i18n="aboutMe.cv_text">{t('aboutMe.cv_text')}</p>               
               <Download />
          </div>
     </section>
</Section>

<style>
     .about-section{   
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #13151a;
     }
     .about-container{
          display: flex;
          flex-direction: column;
          color: #fff;
          gap: 25px;
     }
     .img-container{
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 25px;
          perspective: 1000px;
     }
     
     .card-flip {
          width: 200px;
          height: 280px; 
          position: relative;
     }
     
     .card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          animation: flipCard 6s ease-in-out infinite;
          z-index: 1;
     }
     
     /* Borde que gira CON el flip y TAMBIÉN rota sobre sí mismo */
    .border-wrapper {
          position: absolute;
          inset: -6px;
          border-radius: 35px;
          pointer-events: none;
          z-index: 0;
     }

     .border-wrapper::before {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: inherit;
          padding: 3px;

          background: linear-gradient(
          90deg,
          transparent 0%,
          #FF3CAC 30%,
          #784BA0 50%,
          #2B86C5 70%,
          transparent 100%
          );

          background-size: 200% 100%;
          animation: borderDash 2.5s linear infinite;

          /* Mostrar SOLO el borde */
          -webkit-mask:
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
     }
     
     .card-front,
     .card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          border-radius: 30px; 
          overflow: hidden;
          z-index: 2;
     }
     
     .card-front {
          z-index: 2;
     }
     
     .card-back {
          transform: rotateY(180deg);
     }
     
     .card-front img,
     .card-back img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 30px;
     }
 
     h2{
        font-size: 2.5rem;
        padding: 20px 0 10px 0;
        display: inline-block;
        position: relative;
        color: #fff;
        margin: 30px 0;     
     }

     h2::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 20%; 
        border-bottom: 4px solid #fb4ea1; 
        white-space: nowrap; 
     }
     h3{
          font-size: 1.3rem;
          text-align: center;
          color: #784BA0;
     }
     p{
          font-size: 1rem;
          line-height: 1.6;        
          text-align: center;
          margin: 10px 0;
     }
    
     .tecnica{
          color: #f97eba;
          font-weight: 400;
     }
     .cv-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          padding: 20px 0 0 0;
     }
     .cv-container p{
          color: #ffffff;
          text-align: center;
     }
     body.open .about-container {
          visibility: hidden;
     }
     body.open .about-section {
          display: none;
     }    
     
     @media(min-width:768px){
          .about-section{
               justify-content: center;
          }
          h2::before {
               width: 5%;           
          }
          .about-container{
               flex-direction: row;
               justify-content: center;
          }
          .text-container{
               width: 50%;
          }
          .card-flip{
               width: 280px;
               height: 380px;
          }
     }
     
     @media(min-width:1024px){
          .about-container{
              gap: 100px;
          }
          .text-container{
               display: flex;
               flex-direction: column;
               justify-content: center;
          }
          .text-container h3, p {
               text-align: left;
          }

          .text-container p{
               font-size: 1.1rem;
          }
          
          .cv-container a{
               padding: 20px;
               width: 180px;
          }
     }
     
     @keyframes borderDash {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
     
     @keyframes flipCard {
          0%, 100% {
               transform: rotateY(0deg);
          }
          25% {
               transform: rotateY(0deg);
          }
          50% {
               transform: rotateY(180deg);
          }
          75% {
               transform: rotateY(180deg);
          }
     }
</style>