---
import { EXPERIENCE } from "@/data/experience";
import ExperienceItems from "@/components/component/ExperienceItems.astro";
import Section from "@/components/Section.astro"
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const experiences = EXPERIENCE[lang as keyof typeof EXPERIENCE];
---

<Section>
    <div id="experiencia" class="experience-section">
        <div class="title-container">
            <h2 data-i18n="experience.title">{t('experience.title')}</h2>
        </div>
        <div class="web-container">
            <ol class="timeline">
                {
                    experiences.map((experience) => (
                        <li>
                            <ExperienceItems {...experience} />
                        </li>
                    ))
                }   
            </ol>
            <div class="section-logo">
                <figure>
                    <img src="../../public/img/logo-portfolio.png" alt="gato con anteojos sentado frente a una computadora">
                </figure>
            </div>
        </div>
    </div>
</Section>


<style>
    .experience-section{
        background-color: #13151a;
    }
    .timeline {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        border-left: 2.5px solid #ff3caa70; 
        margin: 0;
        list-style: none;
    }

    

    .title-container{
        padding: 30px 0 60px 0;
    }
    h2{
        font-size: 2.5rem;
        display: inline-block;
        position: relative;
        color: #fff;
        padding: 10px 0;
    }

    h2::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 20%; 
        border-bottom: 4px solid #fb4ea1; 
        white-space: nowrap; 
    }

    .section-logo{
        display: flex;
        justify-content: end;
        padding-top: 20px;
    }
    figure{
        width: 150px;
        height: 150px;
    }
    figure img{
        width: 100%;
        height: auto;
        filter: drop-shadow(0 0 10px rgba(84, 84, 84, 0.8));
    }

    body.open .experience-section {
        display: none;
    }


    body.open h2 {
        display: none;
    }
    
    @media(min-width:1024px){
        .web-container{
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .section-logo{
            align-items: flex-end;
        }
    }
</style>