---
import CardProject from "@/components/cards/CardProject.astro";
import { PROJECTS } from '@/data/projects_details';
import CardColaboracion from "@/components/cards/cardColaboracion.astro";
import { PROJECTSC } from "@/data/projects_colaborate";
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import CardProjects2 from "../cards/cardProjects2.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = PROJECTS[lang as keyof typeof PROJECTS] || [];
const collaborationProjects = PROJECTSC[lang as keyof typeof PROJECTSC] || [];

const isSingleProject = projects.length === 1;
---

<section id="proyectos" class="projects-section">
    <div class="projects-container">
        <div class="title-container">
            <h2 data-i18n="projects.title">{t('projects.title')}</h2>
            <h3 data-i18n="projects.subtitle_1">{t('projects.subtitle_1')}</h3>
        </div>   
        <div class={`cards-container ${isSingleProject ? 'single' : ''}`}>
            {projects.map(project => (
                <CardProject classList={['card-project', 'project-element']} {...project} />
            ))}
        </div>
        <div class="colaboration-container">
            <h3 data-i18n="projects.subtitle_2">{t('projects.subtitle_2')}</h3>
            <div class="cards-container colaborate">
                {collaborationProjects.map(project => (
                    <CardColaboracion classlist={['card-project', 'project-element']} {...project} />
                ))}
            </div>
        </div>
        <div>
            <CardProjects2 />
        </div>
    </div>
</section>



<style>
    .projects-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #13151a;
        max-width: 1100px;
        margin: 0 auto 50px;
    }

    .projects-container {
        width: 90%;
        max-width: 1900px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    h2 {
        font-size: 2.5rem;
        padding: 5px 0;
        display: inline-block;
        position: relative;
        color: #fff;
    }

    h2::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 20%; 
        border-bottom: 4px solid #fb4ea1; 
        white-space: nowrap; 
    }

    h3 {
        color: #fff;
        font-size: 1rem;
    }

    .cards-container {
        width: 100%;
        max-width: 1100px;
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        justify-items: center;
        gap: 30px 20px;
    }

    .colaboration-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .colaboration-container h3{
        padding: 0 0 40px 0;
    }

    body.open .projects-section, body.open .cards-container {
        display: none;
    }

    body.open h2, body.open h3  {
        display: none;
   }

    @media(min-width: 950px){
        .cards-container {
            grid-template-columns: 1fr 1fr;
            justify-content: center;
        }

        .cards-container.single {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        h3{
            font-size: 1.3rem;
        }

        .colaborate{
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            justify-content: center;
        }

    }
</style>