<section>
    <slot />
</section>

<style>
    section{
        max-width: 1700px;
        margin: 0 auto;
        padding: 50px 30px;
    }

    body.open section {
        display: none;
    }
</style>