---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;


import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<Navbar />
		<slot />
	</body>	
</html>
<style is:global>
	*{
		font-family: "Raleway", sans-serif;
		padding: 0;
		margin: 0;
	}
	html {		
		background: #13151a;
	}
	
</style>
