---
import { EXPERIENCE } from "../data/experience";
import ExperienceItems from "./ExperienceItems.astro";
---

<section id="experiencia" class="experience-section">
    <div class="title-container">
        <h2 class="title">Experiencia</h2>
    </div>
    <div class="web-container">
        <ol class="timeline">
            {
                EXPERIENCE.map((experience) =>
                    <li class="item-experience">
                      <ExperienceItems {...experience} />  
                    </li>
            )
            }   
        </ol>
        <div class="section-logo">
            <figure class="logo-container">
                <img src="../../public/cardsImg/portfolio/logo-portfolio.png" alt="">
            </figure>
        </div>
    </div>
</section>


<style>
    .experience-section{
        padding: 30px 20px;  
        background-color: #13151a;
    }
    .timeline {
        position: relative;
        border-left: 2px solid #ffffff; 
        margin: 0;
        list-style: none;
    }

    .title-container{
        padding: 30px 0;
    }
    .title{
        font-size: 2rem;
        display: inline-block;
        position: relative;
        color: #fff;
        padding: 10px 0;
    }

    .title::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 25%; 
        border-bottom: 4px solid #F9C1DC; 
        white-space: nowrap; 
    }

    .item-experience{
        position: relative;
        margin-bottom: 2rem; /* Ajusta el espaciado según sea necesario */
    }

    .section-logo{
        display: flex;
        justify-content: end;
    }
    .logo-container{
        width: 150px;
        height: 150px;
    }
    .logo-container img{
        width: 100%;
        height: auto;
        filter: drop-shadow(0 0 10px rgba(84, 84, 84, 0.8));
    }

    body.open .experience-section {
     visibility: hidden;
    }

    body.open .title {
        display: none;
    }
    
    @media(min-width:768px){
        .experience-section{
            padding: 60px 80px;
        }
    }

    @media(min-width:1024px){
        .experience-section{
            padding: 60px 90px;
        }

        .web-container{
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .section-logo{
            align-items: flex-end;
        }
    }
</style>