---
import SocialButtons from './SocialButtons.astro'
---

<script type="text/javascript">
    const toggleMenu = () => {
      document.body.classList.toggle("open");
    };
</script>

  <button class="navbar-burger" onclick="toggleMenu()"></button>
      <div class="menu">
        <nav>
          <a href="#sobremi" style="animation-delay: 0.1s"><img class="icon" src="../../public/icons/user-icon.png">Sobre Mi</a>
          <a href="#" style="animation-delay: 0.2s"><img class="icon" src="../../public/icons/code-icon.png">Proyectos</a>
          <a href="#" style="animation-delay: 0.3s"><img class="icon" src="../../public/icons/studios-icon.png">Tecnologías</a>
          <a href="#" style="animation-delay: 0.5s"><img class="icon" src="../../public/icons/contacto-icon.png">Contacto</a>
          <div class="social-buttons">
            <SocialButtons />
        </div>
        </nav>     
      </div>
  
  <style>
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .navbar,
  .navbar-burger,
  .menu {
    position: fixed;
  }
  
  body.open .background {
    filter: blur(10px);
  }
  
  .navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-left: 20px;
    padding-right: 72px;
  }
  
  .navbar-burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 45px;
    height: 45px;
    background-image: url("../../public/icons/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F9C1DC;
    border-radius: 100%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  body.open .navbar-burger {
    background-image: url("../../public/icons/close.svg");
  }
  
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    border-bottom: 20px solid white;
    transition: 0.5s;
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu nav:hover a {
    opacity: 0.25;
  }
  
  .menu nav a:hover {
    opacity: 1;
  }
  
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  .menu a {
    display: flex;
    align-items: center;
    position: relative;
    color: #f9f9f9;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    padding: 20px 0;
    width: 300px;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: 0.4s;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu a {
    animation: appear 0.3s backwards;
  }
  
  .icon{
    width: 40px;
    height: 40px;
    padding-right: 10px;
  }

  .social-buttons{
    padding: 20px;
  }

  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 50px;
    }
    100% {
      opacity: 1;
    }
  }

  @media(min-width:768px){
    ..navbar-burger{
      width: 70px;
      height: 70px;
    }
  }
  
  @media(min-width:1440px){
    .menu a{
      font-size: 1.8rem;
    }
  }
</style>