---
import {ICONS} from "../data/iconsTecnologies";
import Carrousel from "./Carrousel.astro";
---

<section id="technologies" class="section-tecnologies">
    <div class="text-technologies">
        <h2 class="title">Tecnologías</h2>
        <p class="description">Mi área principal de especialización es el desarrollo Frontend pero mi formación es FullStack. </p>
        <p class="description">HTML, CSS, JS, creación de aplicaciones web pequeñas y medianas con Angular o React, complementos personalizados, funciones, animaciones y codificación de diseños interactivos. También tengo experiencia como desarrolladora con CMS como WordPress, Shopify, CPanel, Wix. Visita mi <a class="interlink" href="https://www.linkedin.com/in/yaninaunrein/" target="_blank">LinkedIn</a> para más detalles.</p>
    </div>
    <Carrousel icons={ICONS} />
</section>

<style>
    .section-tecnologies {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px;  
        background-color: #13151a;
    }

    .title{
        font-size: 2rem;
        padding: 20px 0;
        display: inline-block;
        position: relative;
        color: #fff;
        margin: 10px 0;
    }

    .title::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 15%; 
        border-bottom: 4px solid #F9C1DC; 
        white-space: nowrap; 
    }

    .description{
        font-size: 1.1rem;
        line-height: 1.6;
        padding: 20px 0;
        text-align: center;
        color: #fff;
    }
    .interlink{
        color: #61aee5;
        transition: 0.3s ease-in;
    }

    .interlink:hover{
        cursor: pointer;
        transform: translateY(-10px);
        color: #FF3CAC;
    }

    @media(min-width:768px){
        .text-technologies{
            max-width: 500px;       
        }
    }

     @media(min-width:1024px){
        .text-technologies{
            max-width: 950px;       
        }
    }
</style>