---
import Section from "@/components/Section.astro"
---

<Section>
     <section id="about" class="about-section animate-shake animate-once">
          <h2>Sobre Mí</h2>
          <div class="about-container">         
          <div class="title-container">             
                    <figure class="personal-img">
                         <img src="../../public/img/opcion2.jpeg" alt="">
                    </figure>
          </div>
               <div class="text-container">
                    <p>Soy una apasionada por la programación, los videojuegos, mangas, animes y gatos. Soy proactiva, comprometida, autodidacta y me gusta siempre dar lo mejor de mí en todo, por más simple o compleja que se pueda tornar la situación.</p>
                    <figure class="img-container">
                         <img src="../../public/img/sobre_mi.png" alt="una joven sentada en un escritorio trabajando en su computadora con 2 gatos subidos en el escritorio">
                    </figure>
                    <h3>Técnica en Desarrollo Web y Aplicaciones Digitales</h3>
                    <p>Me encuentro estudiando la Tecnicatura en Desarrollo Web en la Universidad de Entre Ríos y en continuo aprendizaje con cursos, bootcamp o de forma autodidacta. En julio del 2024 me recibí de la Tecnicatura en Desarrollo Web y Aplicaciones Digitales en el Instituto Superior Politécnico Córdoba.</p>
               </div>
          </div> 
          <div class="cv-container">
               <span>Si estás interesado en conocer más sobre mí, puedes descargar mi Curriculum Vitae a continuación:</span>
               <a href="https://drive.google.com/file/d/1s4V4XGx-iITWHwULUHnnhvLRi4UObwuo/view?usp=sharing" target="_blank">Descargar CV</a>
          </div>
     </section>
</Section>


<style>
     .about-section{   
          display: flex;
          flex-direction: column;
          padding: 50px;  
          background-color: #13151a;
          gap: 20px;
     }

     .about-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: #fff;
          gap: 20px;
     }

     .personal-img{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: auto;
          width: 200px;
          height: 200px;  
          position: relative;
          z-index: 1;  
     }

     .personal-img::before {
          content: '';
          position: absolute;
          top: 101px;
          left: 99px;
          width: 110%;
          height: 110%;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top: 3px solid #FF3CAC; /* Color del borde superior para el gradiente */
          border-right: 3px solid #784BA0; /* Color del borde derecho para el gradiente */
          border-bottom: 3px solid #2B86C5; /* Color del borde inferior para el gradiente */
          box-sizing: border-box;
          transform: translate(-50%, -50%);
          animation: spin 2s linear infinite;
          z-index: 0;  
     }
 
     .personal-img img{
          width: 100%;
          height: auto;
          border-radius: 100%;
          position: relative;
          z-index: 1;  
     }

     h2{
        font-size: 2.5rem;
        padding: 20px 0 10px 0;
        display: inline-block;
        position: relative;
        color: #fff;
        margin: 30px 0;     
     }

     h2::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 20%; 
        border-bottom: 4px solid #F9C1DC; 
        white-space: nowrap; 
     }

     p{
          font-size: 1rem;
          line-height: 1.6;
          padding: 20px 0;
          text-align: center;           
     }
    
     .img-container{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
     }

     .img-container img{
          max-width: 100%;
          height: auto;
          display: block;
     }

     h3{
          padding-top: 15px;
          color: #F9C1DC;
          text-align: center;
          font-size: 1.3rem;
          font-weight: 400;
     }

     .cv-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;
     }
     .cv-container span{
          text-align: center;
          color: #fff;
          font-size: 1rem;
     }
     .cv-container a{
          width: 200px;
          text-align: center;
          color: #13151a;
          font-size: 1.2rem;
          font-weight: 600;
          text-decoration: none;
          background-color: #F9C1DC;
          padding: 15px;
          border-radius: 20px;
          cursor: pointer;
          box-shadow: rgba(138, 137, 137, 0.405) 0px 5px 15px 0px;
          transition: background-color 0.3s ease, transform 0.3s ease, background-image 0.3s ease;
     }
     .cv-container a:hover {
          background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
          transform: scale(1.1); 
          color: #ffffff;
     }

     /* Ocultar elementos del contenedor about cuando el navbar está abierto */
     body.open .about-container {
     visibility: hidden;
     }

     body.open .about-section {
          display: none;
     }    


     @media(min-width:768px){
          .about-section{
               justify-content: center;
          }

          h2::before {
               width: 5%;           
          }

     }

     @media(min-width:1024px){
          .about-section{        
               padding: 50px 90px;
          }    

          .title-container{
               display: flex;
               flex-direction: column;
          }

          .personal-img{
               width: 300px;
               height: 300px;
          }
          .personal-img::before{
               top: 148px;
               left: 150px;
          }

          .text-container{
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               gap: 20px;
          }
          
          .cv-container a{
               padding: 10px;
               width: 180px;
          }

          .img-container{
               width: 400px;
          }

     }

     @keyframes spin {
          0% {
          transform: translate(-50%, -50%) rotate(0deg);
          }
          100% {
          transform: translate(-50%, -50%) rotate(360deg);
          }
     }

</style>